// FOOTER

.footer {
    background-color: #131313;
    padding: 30px 0 10px;
}

.social {

    &__list {
        margin-bottom: 15px;
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__link {
        fill: #fff;
        &--youtube {
            width: 32px;
            height: 28px;
        }
        &--inst {
            width: 24px;
            height: 29px;
        }
        &--fb {
            width: 17px;
            height: 28px;
        }
        &--vk {
            width: 31px;
            height: 28px;
        }
        &--linkedin {
            width: 25px;
            height: 28px;
        }
        &--github {
            width: 27px;
            height: 28px;
        }
    }

    &__text {
        color: #fff;
        line-height: 2;
        text-align: center;
        &:hover {
            color: #fff;
        }

    }


    .icon {
        transition: ease-in-out .2s;
        &:hover {
            transform: scale(1.5);
        }
    }
}